/* 
    Login page CSS
    Created on : Feb 17, 2018, 1:42:28 PM
    Author     : 5um17
*/
.input::placeholder { font-size: 80%; opacity: 0.8; }
#wp-el-users-list { list-style: none; margin-bottom: 10px; }
#wp-el-users-list > li { cursor: pointer; margin-bottom: 5px; padding: 5px; }
#wp-el-users-list > li.wp-el-selected { background: #0085ba; color: #ffffff; }
.wp-el-user-block { font-weight: bold; }
.wp-el-user-block > .avatar { display: inline-block; margin-right: 10px; vertical-align: middle; border: 1px solid #ccc; }
.wp-el-user-data { display: inline-block; vertical-align: middle; }
.wp-el-user-email-role { font-weight: normal; font-size: 85%; font-style: italic;}
#loginform .wp-el-button-wrapper { margin: 0 0 10px 0; }
#login .wp-el-hint { font-style: italic;margin-bottom: 10px; display: block; text-align: center; }
.wp-el-remove-account { float: right; visibility: hidden; }
.wp-el-remove-account:hover { color: #a00; }
#wp-el-users-list > li:hover .wp-el-remove-account { visibility: visible; }
.wp-el-doing-ajax { cursor: progress; }
.wp-el-pwd-wrapper { position: relative; }
.wp-el-pwd-wrapper .wp-el-toggle-pwd.button-secondary { background:transparent;border: none;box-shadow: none;font-size: 13px;padding: 5px 9px;position: absolute;right: 0;top: 0; }
.wp-el-toggle-pwd .dashicons { vertical-align: middle; }
.wp-el-pwd-wrapper .wp-el-toggle-pwd.button-secondary:hover, .wp-el-pwd-wrapper .wp-el-toggle-pwd.button-secondary:focus { background: transparent; border: 0; outline: none; box-shadow: none; }
.login form .input, .login input[type="text"], .login input[type="password"] { min-height: inherit; }
#wp-el-pwd { padding-right: 35px; }